<div class="row">
  <div class="col-7 offset-1">
    {{#power-select-typeahead
        selected=selected
        search=(action 'searchGithubAsync')
        onchange=(action (mut selected))
        extra=(hash labelPath="full_name")
        as |repo|}}
      {{safe-link repo}}
      <small>{{repo.description}}</small>
    {{/power-select-typeahead}}
  </div>

  <div class="col-2">
    <button type="submit" class="wiki-search-btn">Search</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p class="mt-3">
      <button {{action "close"}}
        type="button" class="btn btn-link">Close</button>
    </p>
  </div>
</div>
