<h1 class="display-4 text-center">Wikipedia noW</h1>
<p class="lead text-center">Search the world's free encyclopedia</p>

<img src="/assets/images/logo2x.png"
     class="img-fluid mx-auto d-block mb-3 w-25"
     alt="Responsive image">

{{#if showForm}}
  {{wiki-search-form onClose=(action 'toggleForm')}}
{{else}}
  {{wiki-btn onClick=(action 'toggleForm')}}
{{/if}}
