@import "bootstrap";

// @import 'ember-power-select/themes/bootstrap';
@import 'bs-theme';

@import "ember-power-select";
@import "ember-power-select-typeahead";

.wiki-container {
  @extend .container;
  margin-top: 5rem;
}

.wiki-wrapper {
  @extend .mt-3;
  @extend .text-center;
  @extend .pt-3;
}

.wiki-toggle-btn {
  @extend .btn;
  @extend .btn-outline-primary;
  @extend .btn-lg;
  cursor: pointer;
}

.wiki-search-btn {
  @extend .btn;
  @extend .btn-primary;
}

.wiki-trigger {
  padding: 1.25rem;
}

.wiki-dropdown {
  li {
    padding: .5rem 1rem;
  }
}
